/* New information will go here */

h1 {
    color:red;
}
#hi {
background-color: greenyellow;

}
#hi3 {
background-color: greenyellow;
height: 500px;
width: 5000px;
margin-left: 670px;

}
.jumbotron {
    background-color: greenyellow;
}
#pear {
background-color:transparent;
color: white;

}
#pearmess {
margin-top: 200px;

}